In [368]:
import numpy as np
import pandas as pd
import pyarrow as pa
#Import package matplotlib for visualisation/plotting
import matplotlib.pyplot as plt

In [369]:
# Reading from a csv file, into a data frame
df = pd.read_csv('Legally_Operating_Businesses.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/3625737607.py:2: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Legally_Operating_Businesses.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [370]:
df.shape

(280682, 27)

In [371]:
# Print the first 5 rows.
df.head(5)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,0967332-DCA,Business,02/28/2017,Inactive,02/04/2010,Home Improvement Contractor,"BARBARINO, JOHN JR.",JOHN BARBARINO JR_HOME IMPROVEMENT,239,MEDFORD CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2103411-DCA,Individual,03/31/2024,Active,01/11/2022,Sightseeing Guide,"Nieciak, Joseph",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2060087-DCA,Individual,03/31/2024,Active,10/31/2017,Sightseeing Guide,"Arcaro, Tyler",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2078026-DCA,Individual,03/31/2024,Active,09/11/2018,Sightseeing Guide,"HESSE, DAPHNEE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2057801-DCA,Individual,02/28/2019,Inactive,09/01/2017,Home Improvement Salesperson,"ESCOBAR, KEVIN",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# check duplicated rows

In [372]:
# check duplicated rows
print('Number of duplicate (excluding original) rows is:', df.duplicated().sum())
print('Number of duplicate rows (including first) in the table is:', df[df.duplicated(keep=False)].shape[0])
# Show duplicate row data that can be dropped
df[df.duplicated(keep=False)]

Number of duplicate (excluding original) rows is: 0
Number of duplicate rows (including first) in the table is: 0

Empty DataFrame
Columns: [DCA License Number, License Type, License Expiration Date, License Status, License Creation Date, Industry, Business Name, Business Name 2, Address Building, Address Street Name, Secondary Address Street Name, Address City, Address State, Address ZIP, Contact Phone Number, Address Borough, Borough Code, Community Board, Council District, BIN, BBL, NTA, Census Tract, Detail, Longitude, Latitude, Location]
Index: []

[0 rows x 27 columns]

# cleaning expired data

In [373]:
print("License Expiration Date: ", df['License Expiration Date'].unique().tolist(), "\n")

License Expiration Date:  ['02/28/2017', '03/31/2024', '02/28/2019', '10/31/2012', '10/31/2016', '07/31/2023', '06/15/2016', '09/30/2014', '10/31/2005', '04/30/2014', '10/31/2014', nan, '05/31/2025', '03/31/2005', '12/31/2004', '03/31/2016', '04/30/2016', '12/31/2021', '05/23/2020', '07/31/2021', '06/30/2024', '07/31/2015', '09/30/2023', '10/31/2022', '05/01/2024', '06/30/2009', '12/31/2020', '08/17/2020', '11/30/2023', '04/30/2024', '09/30/2024', '12/31/2022', '05/27/2020', '12/31/2023', '03/31/2025', '02/28/2023', '05/25/2020', '12/31/2018', '12/31/2006', '06/30/2005', '12/31/2008', '10/31/2024', '03/31/2004', '02/28/2025', '12/31/2024', '05/28/2020', '02/28/2024', '02/28/2022', '09/30/2006', '05/31/2011', '03/31/2023', '03/31/2017', '01/31/2023', '04/30/2011', '01/31/2019', '03/31/2019', '08/08/2018', '06/30/2022', '12/31/2007', '12/31/2009', '07/23/2020', '07/26/2020', '01/28/2021', '05/01/2022', '05/15/2017', '07/31/2019', '04/15/2020', '02/28/2021', '04/01/2020', '07/06/2018', '03/31/2021', '12/31/2017', '02/12/2020', '12/15/2016', '05/31/2024', '03/15/2023', '10/31/2023', '02/28/2010', '10/31/2009', '03/31/2008', '03/15/2021', '07/31/2025', '06/30/2023', '03/15/2019', '05/15/2020', '08/15/2020', '11/03/2017', '07/31/2024', '04/30/2020', '12/31/2019', '03/31/2018', '07/31/2017', '11/30/2021', '04/30/2023', '03/31/2020', '05/12/2021', '01/15/2019', '01/10/2022', '11/01/2020', '03/31/2015', '02/28/2018', '11/30/2022', '08/31/2023', '05/31/2021', '12/26/2019', '07/31/2020', '11/01/2023', '08/01/2020', '09/30/2020', '07/28/2020', '09/30/2004', '12/31/2016', '06/30/2020', '10/31/2020', '10/31/2013', '03/31/2010', '04/30/2019', '08/18/2020', '03/31/2022', '07/17/2022', '01/31/2025', '12/22/2019', '03/01/2016', '09/30/2010', '09/30/2012', '02/28/2015', '04/30/2015', '06/30/2018', '04/30/2022', '06/30/2013', '07/31/2013', '12/31/2013', '04/27/2022', '09/30/2009', '03/15/2025', '11/19/2019', '09/30/2007', '02/28/2012', '10/31/2011', '04/05/2020', '12/31/2010', '04/30/2012', '07/31/2022', '12/31/2003', '05/15/2022', '05/31/2005', '08/26/2020', '02/28/2016', '10/31/2006', '02/28/2004', '09/29/2020', '10/31/2007', '01/31/2021', '04/30/2017', '12/15/2022', '05/31/2020', '03/15/2005', '05/30/2020', '01/31/2015', '05/05/2021', '11/30/2020', '06/05/2020', '06/30/2021', '06/03/2020', '07/31/2018', '04/24/2022', '04/06/2017', '11/30/2024', '04/11/2020', '09/30/2018', '03/31/2012', '06/10/2020', '04/30/2018', '12/15/2020', '06/11/2020', '09/15/2022', '06/07/2020', '06/12/2020', '06/30/2007', '08/24/2020', '12/15/2019', '07/31/2011', '05/11/2021', '02/28/2020', '09/15/2016', '03/15/2018', '11/23/2020', '01/31/2017', '05/03/2020', '02/28/2006', '06/15/2020', '12/31/2014', '09/15/2020', '08/29/2020', '08/03/2020', '09/15/2018', '11/24/2020', '08/05/2020', '03/06/2022', '08/28/2020', '06/30/2014', '05/31/2015', '09/30/2017', '07/28/2022', '06/30/2017', '06/20/2023', '06/14/2020', '03/31/2014', '05/01/2010', '03/31/2009', '12/31/2011', '12/31/2015', '04/15/2021', '01/06/2020', '07/19/2023', '03/31/2013', '07/03/2023', '07/18/2023', '05/31/2019', '11/02/2022', '02/28/2014', '08/07/2023', '09/30/2019', '11/01/2015', '03/31/2011', '07/17/2023', '10/19/2021', '10/20/2021', '12/08/2013', '09/30/2013', '12/30/2019', '01/09/2020', '10/31/2018', '03/23/2023', '04/01/2025', '06/12/2023', '01/03/2020', '04/09/2020', '01/10/2020', '06/27/2023', '12/31/2005', '11/01/2017', '11/01/2019', '09/30/2022', '12/27/2019', '09/30/2005', '09/30/2008', '06/22/2023', '03/15/2017', '12/28/2019', '06/13/2017', '03/10/2020', '08/31/2025', '03/15/2020', '06/23/2020', '06/30/2016', '04/30/2021', '05/01/2018', '05/01/2020', '03/18/2020', '06/21/2020', '04/30/2013', '05/31/2004', '06/25/2020', '10/31/2019', '06/29/2023', '08/10/2023', '06/24/2023', '06/28/2023', '11/01/2022', '01/15/2020', '01/16/2020', '01/13/2020', '01/11/2020', '11/30/2019', '11/01/2021', '09/15/2021', '12/27/2023', '09/30/2021', '04/01/2023', '07/20/2022', '04/01/2005', '11/15/2013', '11/26/2019', '08/09/2023', '11/02/2013', '06/30/2011', '08/31/2020', '03/16/2013', '12/26/2023', '01/31/2009', '09/30/2016', '01/26/2023', '12/28/2023', '10/30/2017', '05/29/2023', '12/15/2021', '03/16/2016', '06/05/2022', '04/24/2023', '10/31/2021', '12/01/2019', '06/26/2023', '09/30/2011', '06/23/2023', '02/28/2008', '10/30/2021', '09/30/2015', '04/23/2020', '01/20/2020', '07/02/2015', '07/24/2023', '04/17/2020', '07/02/2020', '04/15/2022', '01/23/2020', '06/21/2023', '06/11/2023', '03/27/2023', '06/28/2020', '01/21/2020', '12/18/2019', '06/29/2020', '02/16/2020', '01/19/2020', '04/21/2020', '05/15/2023', '10/31/2008', '08/14/2023', '07/20/2023', '07/01/2020', '12/31/1996', '07/03/2020', '03/31/2007', '08/08/2022', '05/27/2017', '01/31/2020', '05/15/2021', '01/29/2020', '09/20/2021', '08/13/2023', '03/14/2021', '09/04/2013', '02/01/2017', '07/27/2023', '08/03/2023', '07/23/2023', '05/31/2022', '06/16/2018', '01/31/2013', '12/12/2023', '07/06/2020', '05/18/2020', '07/09/2020', '09/05/2020', '02/06/2020', '02/01/2020', '11/29/2012', '09/15/2019', '10/06/2017', '02/04/2020', '06/09/2020', '06/15/2022', '04/30/2009', '08/09/2020', '09/11/2020', '09/10/2020', '09/13/2020', '04/01/2021', '11/15/2021', '02/28/2009', '11/16/2021', '02/15/2020', '02/09/2020', '03/31/2006', '04/03/2023', '04/28/2019', '02/19/2020', '10/01/2020', '12/31/2012', '08/16/2023', '04/15/2019', '09/17/2020', '06/15/2014', '07/31/2007', '03/30/2023', '03/22/2021', '02/17/2020', '09/18/2020', '05/20/2020', '02/08/2020', '01/05/2024', '10/01/2021', '02/08/2021', '08/18/2003', '12/31/2002', '05/19/2023', '10/05/2023', '07/31/2009', '05/18/2023', '05/23/2023', '02/22/2020', '04/30/2008', '07/26/2023', '07/31/2005', '09/19/2010', '08/02/2023', '10/31/2010', '08/25/2022', '06/30/2006', '05/31/2013', '06/15/2012', '10/31/2017', '02/21/2020', '12/31/2000', '08/01/2018', '12/15/2018', '11/27/2021', '03/27/2020', '08/17/2023', '05/01/2016', '08/22/2023', '11/21/2021', '09/25/2020', '05/31/2016', '03/04/2005', '05/31/2017', '04/10/2018', '03/12/2017', '04/10/2023', '03/15/2016', '11/22/2021', '12/03/2016', '05/31/2023', '06/29/2018', '05/31/2006', '12/15/2017', '03/13/2020', '03/12/2020', '03/08/2020', '09/04/2022', '03/15/2007', '03/09/2020', '08/30/2014', '04/02/2020', '01/31/2011', '03/07/2020', '03/05/2020', '02/23/2020', '11/01/2016', '12/09/2020', '04/04/2020', '09/15/2017', '08/09/2021', '07/25/2021', '03/19/2020', '03/16/2020', '05/31/2007', '03/15/2009', '03/17/2020', '07/02/2023', '03/25/2020', '03/24/2020', '03/26/2020', '03/21/2020', '02/28/2005', '03/20/2020', '06/30/2004', '01/31/2005', '03/04/2020', '12/17/2019', '02/27/2020', '03/01/2020', '07/31/2003', '03/11/2020', '10/20/2020', '02/26/2020', '07/06/2007', '04/01/2017', '08/03/2021', '07/06/2023', '12/17/2020', '10/23/2020', '01/19/2016', '10/26/2020', '01/31/2007', '11/01/2018', '03/15/2011', '06/06/2022', '01/01/2023', '05/01/2004', '07/09/2003', '05/27/2007', '04/07/2020', '03/28/2020', '12/15/2009', '06/15/2018', '04/06/2020', '04/08/2020', '08/11/2005', '06/30/2008', '10/23/2005', '04/30/2006', '12/15/2007', '03/29/2020', '03/31/2003', '03/30/2020', '05/01/2006', '04/01/2009', '04/03/2020', '12/31/1995', '06/27/2004', '03/23/2022', '04/13/2020', '04/16/2020', '04/14/2020', '04/10/2020', '04/12/2020', '04/22/2020', '07/11/2023', '04/18/2020', '04/19/2020', '04/20/2020', '04/01/2015', '10/30/2020', '06/13/2022', '06/09/2022', '04/05/2021', '03/27/2022', '07/04/2023', '03/15/2015', '05/02/2020', '04/24/2020', '07/31/2001', '06/22/2022', '05/28/2023', '04/26/2020', '12/31/2001', '11/20/2018', '05/04/2020', '05/07/2020', '05/05/2020', '03/13/2004', '04/29/2020', '02/28/2027', '07/25/2023', '05/13/2020', '05/10/2020', '05/11/2020', '05/08/2020', '05/14/2020', '05/31/2014', '03/15/2006', '12/04/2004', '05/17/2020', '08/27/2009', '07/31/2027', '01/05/2022', '11/15/2020', '11/12/2020', '08/02/2015', '07/05/2022', '11/01/2014', '06/06/2023', '09/16/2018', '12/10/2019', '01/21/2016', '05/22/2015', '05/14/2017', '06/04/2018', '06/05/2016', '06/13/2023', '04/19/2018', '04/11/2018', '06/15/2010', '01/26/2018', '09/03/2018', '09/30/2002', '11/08/2020', '07/04/2021', '09/24/2017', '07/10/2023', '01/20/2021', '06/17/2017', '05/21/2017', '11/29/2022', '06/16/2019', '06/12/2016', '05/09/2021', '05/19/2019', '05/10/2021', '06/18/2017', '04/25/2019', '08/05/2018', '04/21/2019', '08/29/2023', '04/25/2015', '07/09/2016', '10/02/2015', '08/04/2019', '09/30/2025', '06/02/2019', '04/03/2016', '08/28/2016', '01/04/2022', '10/21/2018', '01/21/2021', '05/23/2021', '05/31/2018', '05/24/2021', '05/26/2021', '07/21/2019', '05/25/2021', '06/10/2018', '07/26/2015', '06/14/2015', '06/21/2015', '07/15/2018', '08/18/2019', '06/19/2016', '03/22/2019', '06/01/2023', '08/13/2017', '06/06/2021', '09/23/2018', '06/25/2023', '10/16/2016', '08/23/2015', '05/28/2017', '09/11/2016', '10/03/2021', '10/04/2015', '09/12/2021', '08/25/2019', '06/28/2015', '07/26/2018', '08/11/2019', '08/28/2018', '06/05/2023', '06/27/2019', '06/03/2018', '08/19/2018', '05/28/2018', '04/30/2010', '04/17/2017', '05/02/2016', '09/28/2018', '08/08/2021', '09/25/2016', '07/16/2023', '07/31/2016', '06/24/2018', '10/28/2017', '05/22/2016', '09/27/2015', '02/22/2019', '06/06/2016', '08/08/2023', '06/17/2018', '09/26/2018', '05/29/2016', '06/11/2017', '09/22/2019', '08/21/2016', '04/28/2016', '09/22/2018', '04/16/2017', '06/20/2021', '04/26/2019', '07/01/2018', '05/01/2014', '10/12/2015', '04/04/2022', '09/06/2021', '06/04/2017', '08/06/2017', '04/09/2017', '06/15/2015', '07/16/2017', '05/30/2015', '06/11/2018', '09/06/2015', '05/29/2017', '03/12/2022', '04/07/2016', '05/08/2016', '04/01/2018', '10/02/2016', '08/27/2017', '04/28/2017', '09/04/2017', '10/09/2016', '05/20/2018', '07/10/2018', '05/24/2023', '07/28/2019', '01/31/2024', '04/27/2016', '05/30/2021', '05/13/2018', '10/18/2019', '08/30/2015', '08/09/2015', '09/07/2015', '07/17/2016', '06/25/2017', '09/18/2016', '09/05/2023', '08/07/2016', '08/12/2018', '08/27/2019', '08/28/2017', '05/17/2015', '06/15/2023', '01/05/2020', '06/23/2019', '05/26/2019', '05/23/2022', '02/25/2022', '08/26/2018', '06/11/2016', '09/20/2015', '05/27/2018', '10/25/2015', '04/17/2016', '06/09/2019', '10/27/2018', '09/10/2017', '06/30/2019', '06/10/2019', '08/29/2021', '02/09/2021', '05/30/2016', '04/05/2022', '02/24/2022', '04/05/2018', '05/25/2015', '10/06/2019', '05/15/2016', '10/26/2019', '05/06/2018', '07/07/2023', '06/26/2016', '10/31/2025', '04/15/2018', '03/27/2018', '12/21/2019', '08/22/2021', '07/16/2018', '09/19/2021', '02/14/2020', '09/02/2019', '05/13/2019', '02/07/2019', '02/20/2016', '07/30/2017', '07/14/2019', '09/08/2019', '12/07/2019', '06/26/2017', '06/07/2015', '07/23/2017', '02/11/2022', '09/09/2018', '10/07/2018', '09/03/2023', '06/13/2021', '07/23/2016', '10/31/2015', '01/21/2022', '04/26/2015', '08/01/2021', '07/05/2015', '04/10/2016', '08/20/2017', '06/18/2016', '06/22/2019', '04/14/2019', '10/21/2016', '09/29/2019', '06/02/2021', '09/05/2016', '07/24/2016', '04/11/2023', '07/12/2015', '05/24/2015', '04/25/2022', '08/21/2023', '04/29/2018', '08/28/2023', '07/18/2015', '10/01/2017', '10/20/2016', '05/10/2015', '04/20/2016', '07/03/2017', '12/30/2023', '09/10/2016', '07/18/2021', '07/19/2015', '07/11/2021', '07/12/2022', '06/03/2021', '06/03/2019', '06/13/2016', '04/22/2016', '04/22/2018', '07/09/2017', '04/02/2018', '07/11/2022', '07/22/2022', '09/04/2023', '06/04/2016', '10/11/2017', '09/17/2017', '07/29/2018', '08/14/2016', '07/10/2016', '10/29/2016', '01/28/2022', '02/25/2019', '10/14/2018', '06/02/2018', '07/05/2016', '06/12/2017', '05/03/2019', '01/04/2020', '08/15/2023', '04/08/2018', '05/27/2019', '09/26/2021', '02/23/2021', '12/30/2008', '08/31/2021', '12/28/2021', '11/11/2019', '01/25/2015', '06/30/2010', '11/01/2010', '04/15/2010', '05/23/2010', '06/15/2004', '06/30/2012', '09/24/2004', '05/31/2012', '05/31/2009', '06/16/2008', '06/15/2008', '08/24/2015', '06/15/2006', '05/22/2009', '01/16/2016', '09/15/2013', '03/15/2013', '09/28/2014', '02/28/2013', '04/15/2015', '08/01/2019', '05/18/2021', '09/15/2010', '07/24/2013', '03/22/2004', '03/15/2012', '02/22/2018', '10/07/2012', '12/15/2010', '05/01/2008', '05/18/2014', '09/28/2010', '01/16/2012', '08/17/2019', '08/20/2019', '12/01/2005', '05/31/2010', '08/21/2019', '01/15/2009', '08/31/2019', '08/09/2007', '04/01/2003', '09/29/2007', '03/15/2008', '03/31/2000', '05/31/2008', '09/01/2019', '05/25/2019', '09/16/2019', '09/18/2019', '08/01/2009', '07/15/2019', '03/20/2009', '05/28/2009', '01/15/2018', '08/01/2005', '02/05/2006', '10/06/2008', '09/15/2008', '04/15/2007', '09/15/2007', '01/01/2005', '06/14/2009', '05/29/2007', '04/01/2007', '04/16/2004', '03/31/2002', '01/22/2009', '06/18/2006', '06/25/2004', '04/07/2005', '05/15/2008', '02/28/2001', '03/15/2003', '03/04/2004', '12/26/2005', '12/04/2003', '06/29/2008', '12/18/2005', '04/30/2007', '08/01/2007', '04/05/2007', '03/04/2007', '06/05/2005', '11/02/2008', '12/27/2009', '04/15/2008', '12/29/2005', '09/09/2007', '04/15/2009', '10/08/2006', '04/22/2007', '03/31/2001', '08/21/2005', '12/28/2002', '09/25/2005', '10/02/2008', '10/01/2019', '04/30/2004', '12/15/2005', '08/10/2008', '12/15/2006', '08/25/2008', '07/20/2008', '06/13/2004', '06/30/2000', '02/04/2008', '07/07/2008', '06/27/2008', '09/15/2009', '12/27/2001', '07/01/2009', '09/15/2006', '09/20/2009', '02/28/2007', '01/16/2006', '07/18/2020', '10/05/2008', '12/26/2000', '12/29/2008', '03/29/2004', '02/28/2003', '02/26/2004', '06/06/2004', '07/18/2004', '06/28/2009', '03/01/2008', '12/27/2006', '01/04/2005', '05/18/2008', '12/15/2008', '04/30/2005', '06/30/2002', '10/13/2007', '05/30/2009', '05/16/2004', '10/07/2019', '03/09/2004', '03/14/2005', '10/13/2006', '07/09/2008', '07/21/2006', '10/09/2019', '08/06/2005', '05/21/2006', '03/15/2004', '06/29/2003', '05/15/2009', '04/24/2004', '05/02/2008', '11/30/2005', '01/19/2006', '05/30/2005', '06/03/2006', '04/20/2008', '01/22/2004', '09/21/2008', '07/17/2007', '10/06/2007', '05/07/2006', '09/08/2009', '07/29/2004', '03/08/2008', '06/02/2013', '07/16/2020', '08/28/2004', '08/17/2004', '06/03/2008', '11/09/2007', '10/13/2019', '10/16/2019', '10/15/2019', '01/15/2007', '06/04/2009', '01/30/2007', '03/08/2009', '12/03/2008', '03/30/2001', '09/11/2005', '05/27/2006', '02/18/2004', '04/18/2008', '04/08/2007', '03/16/2008', '06/20/2004', '05/01/2012', '07/17/2005', '10/24/2002', '08/31/2008', '03/02/2006', '08/30/2009', '02/11/2006', '07/10/2020', '04/01/2001', '04/11/2004', '09/23/2007', '02/14/2004', '05/13/2007', '02/12/2006', '02/17/2009', '08/09/2010', '07/16/2006', '04/01/2004', '10/02/2005', '10/13/2005', '07/22/2007', '09/14/2005', '03/09/2006', '12/28/2007', '09/26/2004', '01/18/2020', '07/17/2009', '08/08/2006', '05/12/2007', '09/01/2004', '06/30/2015', '05/06/2006', '05/21/2004', '02/06/2009', '02/07/2007', '08/19/2005', '06/13/2005', '04/20/2007', '06/16/2007', '09/06/2004', '12/26/2007', '10/09/2005', '11/05/2005', '06/22/2008', '09/10/2009', '06/14/2004', '07/02/2005', '12/20/2009', '06/18/2002', '10/30/2013', '01/25/2005', '05/29/2005', '03/22/2008', '01/31/2003', '08/26/2007', '03/03/2007', '07/18/2009', '06/07/2006', '04/29/2009', '10/25/2019', '10/24/2019', '09/08/2003', '04/23/2006', '06/11/2007', '07/28/2009', '02/23/2006', '10/19/2008', '12/27/2003', '11/12/2009', '08/23/2008', '06/01/2006', '12/17/2002', '11/10/2009', '10/10/2009', '11/08/2006', '07/23/2007', '03/01/2006', '05/01/2005', '05/11/2006', '05/17/2007', '03/02/2007', '12/28/2004', '07/25/2009', '11/01/2005', '11/16/2004', '04/26/2023', '12/30/2002', '05/15/2010', '05/16/2019', '07/27/2004', '05/17/2005', '09/05/2009', '04/06/2009', '12/26/2006', '05/30/2004', '11/05/2004', '10/12/2008', '06/04/2006', '04/18/2004', '01/31/2006', '06/25/2006', '09/30/2000', '08/12/2004', '04/30/2001', '09/15/2004', '12/26/2002', '05/11/2008', '01/07/2009', '10/14/2007', '01/15/2004', '09/16/2006', '08/27/2004', '01/13/2008', '12/27/2007', '07/16/2004', '05/25/2008', '10/28/2003', '06/20/2005', '05/29/2009', '01/18/2005', '03/01/2007', '07/15/2020', '08/06/2007', '03/05/2005', '03/07/2007', '01/16/2008', '07/11/2020', '12/26/2004', '04/28/2006', '02/29/2004', '06/25/2002', '02/13/2006', '12/12/2019', '11/12/2019', '05/28/2006', '07/13/2004', '12/18/2000', '01/16/2014', '07/14/2020', '07/08/2004', '01/24/2008', '05/23/2017', '01/16/2004', '01/24/2005', '02/15/2005', '08/05/2007', '07/19/2009', '10/04/2001', '12/08/2008', '04/15/2006', '09/13/2009', '08/11/2006', '10/20/2008', '12/12/2002', '03/29/2007', '08/07/2005', '06/24/2007', '09/17/2006', '06/26/2003', '12/25/2005', '08/17/2008', '12/28/2000', '05/01/2002', '04/18/2006', '04/26/2009', '08/18/2009', '12/17/2008', '02/25/2008', '07/24/2005', '08/17/2006', '11/30/2002', '06/29/2007', '05/15/2007', '09/27/2009', '07/19/2020', '11/17/2019', '11/15/2019', '08/30/2006', '01/16/2010', '01/20/2004', '08/16/2009', '10/06/2003', '04/24/2007', '12/29/2003', '01/05/2005', '12/30/2003', '10/22/2001', '07/27/2005', '05/01/2000', '10/17/2005', '05/06/2005', '05/02/2009', '06/15/2001', '04/12/2004', '05/14/2006', '11/07/2005', '02/26/2018', '11/25/2019', '09/03/2007', '06/02/2008', '05/01/2007', '01/30/2009', '08/19/2007', '07/20/2020', '06/04/2004', '06/25/2005', '12/18/2004', '04/02/2005', '05/20/2007', '12/30/2004', '01/28/2007', '05/05/2008', '12/29/2000', '12/28/2010', '08/28/2005', '12/26/2009', '08/03/2008', '03/11/2009', '10/11/2004', '12/18/2002', '02/26/2009', '05/30/2006', '12/21/2002', '07/08/2006', '04/17/2009', '05/08/2009', '12/29/2007', '07/28/2008', '10/05/2005', '03/07/2009', '07/30/2003', '04/17/2008', '08/19/2004', '12/12/2001', '04/10/2004', '02/02/2008', '10/16/2005', '05/23/2004', '11/17/2006', '05/15/2001', '07/30/2006', '09/24/2006', '06/01/2008', '07/10/2004', '02/23/2005', '11/23/2009', '08/03/2005', '05/03/2009', '12/17/2004', '08/01/2004', '05/09/2004', '07/29/2007', '07/11/2004', '10/02/2007', '11/26/2006', '01/17/2007', '10/30/2006', '05/24/2006', '12/30/2009', '07/06/2008', '08/16/2005', '11/22/2004', '01/30/2004', '04/15/2014', '04/07/2009', '03/23/2005', '04/19/2009', '05/15/2005', '02/13/2012', '04/13/2004', '06/18/2007', '01/10/2004', '06/19/2005', '09/18/2005', '03/30/2006', '01/31/2001', '12/19/2019', '12/18/2007', '03/05/2014', '07/14/2009', '05/28/2008', '02/19/2005', '04/23/2014', '12/22/2004', '09/14/2008', '11/06/2007', '05/17/2009', '01/24/2004', '04/30/2002', '07/05/2009', '05/07/2005', '10/08/2003', '09/07/2008', '08/02/2009', '03/29/2001', '07/30/2009', '02/21/2007', '02/05/2009', '04/29/2005', '09/07/2009', '09/26/2009', '10/19/2007', '04/17/2007', '06/29/2006', '08/08/2007', '01/15/2005', '06/24/2009', '08/25/2007', '12/27/2004', '03/14/2009', '01/04/2006', '12/28/2003', '02/09/2008', '06/03/2007', '06/17/2007', '08/03/2009', '08/10/2009', '10/06/2004', '07/18/2001', '03/30/2008', '02/22/2000', '09/15/2014', '08/23/2005', '08/13/2009', '09/12/2004', '08/15/2004', '07/17/2006', '06/30/2003', '12/19/2003', '12/06/2004', '02/18/2008', '06/19/2006', '04/27/2008', '03/23/2008', '05/18/2004', '09/20/2007', '10/25/2009', '07/17/2003', '10/05/2004', '01/17/2005', '11/24/2006', '01/06/2014', '11/04/2009', '12/17/2007', '01/19/2005', '03/09/2007', '06/28/2008', '07/04/2008', '09/17/2005', '09/29/2005', '06/10/2009', '07/29/2009', '07/25/2004', '07/10/2002', '05/24/2009', '10/28/2007', '08/30/2005', '06/26/2005', '07/04/2004', '01/24/2003', '02/10/2004', '05/14/2008', '04/25/2004', '03/27/2007', '08/13/2006', '09/21/2006', '11/30/2006', '12/12/2003', '07/05/2007', '04/09/2008', '08/09/2009', '04/13/2008', '04/30/2003', '04/03/2004', '09/19/2009', '05/19/2007', '02/07/2009', '09/05/2004', '04/17/2005', '10/09/2009', '05/08/2005', '11/06/2009', '05/19/2009', '01/16/2007', '06/29/2002', '11/15/2006', '02/03/2009', '07/21/2009', '06/28/2005', '05/21/2007', '06/03/2005', '12/29/2001', '05/10/2009', '08/03/2007', '07/14/2008', '09/19/2004', '06/27/2003', '06/20/2006', '07/10/2005', '02/14/2006', '10/07/2007', '08/22/2004', '05/29/2006', '09/26/2006', '01/07/2005', '06/

In [374]:
# Convert 'License Expiration Date' to datetime
df['License Expiration Date'] = pd.to_datetime(df['License Expiration Date'])

# Filter rows
before_2022 = df[df['License Expiration Date'] < '2022-01-01']

# Drop these rows
df = df.drop(before_2022.index)

print("License Expiration Date: ", df['License Expiration Date'].unique().tolist(), "\n")

License Expiration Date:  [Timestamp('2024-03-31 00:00:00'), Timestamp('2023-07-31 00:00:00'), NaT, Timestamp('2025-05-31 00:00:00'), Timestamp('2024-06-30 00:00:00'), Timestamp('2023-09-30 00:00:00'), Timestamp('2022-10-31 00:00:00'), Timestamp('2024-05-01 00:00:00'), Timestamp('2023-11-30 00:00:00'), Timestamp('2024-04-30 00:00:00'), Timestamp('2024-09-30 00:00:00'), Timestamp('2022-12-31 00:00:00'), Timestamp('2023-12-31 00:00:00'), Timestamp('2025-03-31 00:00:00'), Timestamp('2023-02-28 00:00:00'), Timestamp('2024-10-31 00:00:00'), Timestamp('2025-02-28 00:00:00'), Timestamp('2024-12-31 00:00:00'), Timestamp('2024-02-28 00:00:00'), Timestamp('2022-02-28 00:00:00'), Timestamp('2023-03-31 00:00:00'), Timestamp('2023-01-31 00:00:00'), Timestamp('2022-06-30 00:00:00'), Timestamp('2022-05-01 00:00:00'), Timestamp('2024-05-31 00:00:00'), Timestamp('2023-03-15 00:00:00'), Timestamp('2023-10-31 00:00:00'), Timestamp('2025-07-31 00:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2024-07-31 00:00:00'), Timestamp('2023-04-30 00:00:00'), Timestamp('2022-01-10 00:00:00'), Timestamp('2022-11-30 00:00:00'), Timestamp('2023-08-31 00:00:00'), Timestamp('2023-11-01 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2022-07-17 00:00:00'), Timestamp('2025-01-31 00:00:00'), Timestamp('2022-04-30 00:00:00'), Timestamp('2022-04-27 00:00:00'), Timestamp('2025-03-15 00:00:00'), Timestamp('2022-07-31 00:00:00'), Timestamp('2022-05-15 00:00:00'), Timestamp('2022-12-15 00:00:00'), Timestamp('2022-04-24 00:00:00'), Timestamp('2024-11-30 00:00:00'), Timestamp('2022-09-15 00:00:00'), Timestamp('2022-03-06 00:00:00'), Timestamp('2022-07-28 00:00:00'), Timestamp('2023-06-20 00:00:00'), Timestamp('2023-07-19 00:00:00'), Timestamp('2023-07-03 00:00:00'), Timestamp('2023-07-18 00:00:00'), Timestamp('2022-11-02 00:00:00'), Timestamp('2023-08-07 00:00:00'), Timestamp('2023-07-17 00:00:00'), Timestamp('2023-03-23 00:00:00'), Timestamp('2025-04-01 00:00:00'), Timestamp('2023-06-12 00:00:00'), Timestamp('2023-06-27 00:00:00'), Timestamp('2022-09-30 00:00:00'), Timestamp('2023-06-22 00:00:00'), Timestamp('2025-08-31 00:00:00'), Timestamp('2023-06-29 00:00:00'), Timestamp('2023-08-10 00:00:00'), Timestamp('2023-06-24 00:00:00'), Timestamp('2023-06-28 00:00:00'), Timestamp('2022-11-01 00:00:00'), Timestamp('2023-12-27 00:00:00'), Timestamp('2023-04-01 00:00:00'), Timestamp('2022-07-20 00:00:00'), Timestamp('2023-08-09 00:00:00'), Timestamp('2023-12-26 00:00:00'), Timestamp('2023-01-26 00:00:00'), Timestamp('2023-12-28 00:00:00'), Timestamp('2023-05-29 00:00:00'), Timestamp('2022-06-05 00:00:00'), Timestamp('2023-04-24 00:00:00'), Timestamp('2023-06-26 00:00:00'), Timestamp('2023-06-23 00:00:00'), Timestamp('2023-07-24 00:00:00'), Timestamp('2022-04-15 00:00:00'), Timestamp('2023-06-21 00:00:00'), Timestamp('2023-06-11 00:00:00'), Timestamp('2023-03-27 00:00:00'), Timestamp('2023-05-15 00:00:00'), Timestamp('2023-08-14 00:00:00'), Timestamp('2023-07-20 00:00:00'), Timestamp('2022-08-08 00:00:00'), Timestamp('2023-08-13 00:00:00'), Timestamp('2023-07-27 00:00:00'), Timestamp('2023-08-03 00:00:00'), Timestamp('2023-07-23 00:00:00'), Timestamp('2022-05-31 00:00:00'), Timestamp('2023-12-12 00:00:00'), Timestamp('2022-06-15 00:00:00'), Timestamp('2023-04-03 00:00:00'), Timestamp('2023-08-16 00:00:00'), Timestamp('2023-03-30 00:00:00'), Timestamp('2024-01-05 00:00:00'), Timestamp('2023-05-19 00:00:00'), Timestamp('2023-10-05 00:00:00'), Timestamp('2023-05-18 00:00:00'), Timestamp('2023-05-23 00:00:00'), Timestamp('2023-07-26 00:00:00'), Timestamp('2023-08-02 00:00:00'), Timestamp('2022-08-25 00:00:00'), Timestamp('2023-08-17 00:00:00'), Timestamp('2023-08-22 00:00:00'), Timestamp('2023-04-10 00:00:00'), Timestamp('2023-05-31 00:00:00'), Timestamp('2022-09-04 00:00:00'), Timestamp('2023-07-02 00:00:00'), Timestamp('2023-07-06 00:00:00'), Timestamp('2022-06-06 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2022-03-23 00:00:00'), Timestamp('2023-07-11 00:00:00'), Timestamp('2022-06-13 00:00:00'), Timestamp('2022-06-09 00:00:00'), Timestamp('2022-03-27 00:00:00'), Timestamp('2023-07-04 00:00:00'), Timestamp('2022-06-22 00:00:00'), Timestamp('2023-05-28 00:00:00'), Timestamp('2027-02-28 00:00:00'), Timestamp('2023-07-25 00:00:00'), Timestamp('2027-07-31 00:00:00'), Timestamp('2022-01-05 00:00:00'), Timestamp('2022-07-05 00:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-06-13 00:00:00'), Timestamp('2023-07-10 00:00:00'), Timestamp('2022-11-29 00:00:00'), Timestamp('2023-08-29 00:00:00'), Timestamp('2025-09-30 00:00:00'), Timestamp('2022-01-04 00:00:00'), Timestamp('2023-06-01 00:00:00'), Timestamp('2023-06-25 00:00:00'), Timestamp('2023-06-05 00:00:00'), Timestamp('2023-07-16 00:00:00'), Timestamp('2023-08-08 00:00:00'), Timestamp('2022-04-04 00:00:00'), Timestamp('2022-03-12 00:00:00'), Timestamp('2023-05-24 00:00:00'), Timestamp('2024-01-31 00:00:00'), Timestamp('2023-09-05 00:00:00'), Timestamp('2023-06-15 00:00:00'), Timestamp('2022-05-23 00:00:00'), Timestamp('2022-02-25 00:00:00'), Timestamp('2022-04-05 00:00:00'), Timestamp('2022-02-24 00:00:00'), Timestamp('2023-07-07 00:00:00'), Timestamp('2025-10-31 00:00:00'), Timestamp('2022-02-11 00:00:00'), Timestamp('2023-09-03 00:00:00'), Timestamp('2022-01-21 00:00:00'), Timestamp('2023-04-11 00:00:00'), Timestamp('2022-04-25 00:00:00'), Timestamp('2023-08-21 00:00:00'), Timestamp('2023-08-28 00:00:00'), Timestamp('2023-12-30 00:00:00'), Timestamp('2022-07-12 00:00:00'), Timestamp('2022-07-11 00:00:00'), Timestamp('2022-07-22 00:00:00'), Timestamp('2023-09-04 00:00:00'), Timestamp('2022-01-28 00:00:00'), Timestamp('2023-08-15 00:00:00'), Timestamp('2023-04-26 00:00:00'), Timestamp('2022-09-10 00:00:00'), Timestamp('2023-11-16 00:00:00'), Timestamp('2022-09-14 00:00:00'), Timestamp('2023-12-17 00:00:00'), Timestamp('2022-09-19 00:00:00'), Timestamp('2023-01-16 00:00:00'), Timestamp('2023-12-19 00:00:00'), Timestamp('2023-12-21 00:00:00'), Timestamp('2023-06-19 00:00:00'), Timestamp('2023-07-12 00:00:00'), Timestamp('2023-05-02 00:00:00'), Timestamp('2022-09-29 00:00:00'), Timestamp('2022-09-22 00:00:00'), Timestamp('2022-03-16 00:00:00'), Timestamp('2023-11-04 00:00:00'), Timestamp('2023-07-09 00:00:00'), Timestamp('2023-03-02 00:00:00'), Timestamp('2023-09-21 00:00:00'), Timestamp('2023-01-02 00:00:00'), Timestamp('2022-10-16 00:00:00'), Timestamp('2023-03-08 00:00:00'), Timestamp('2023-11-03 00:00:00'), Timestamp('2023-03-06 00:00:00'), Timestamp('2023-09-08 00:00:00'), Timestamp('2023-03-07 00:00:00'), Timestamp('2024-03-15 00:00:00'), Timestamp('2023-09-26 00:00:00'), Timestamp('2023-12-29 00:00:00'), Timestamp('2022-10-23 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2022-10-27 00:00:00'), Timestamp('2022-08-21 00:00:00'), Timestamp('2022-11-16 00:00:00'), Timestamp('2023-06-09 00:00:00'), Timestamp('2023-05-22 00:00:00'), Timestamp('2022-01-14 00:00:00'), Timestamp('2023-05-21 00:00:00'), Timestamp('2022-12-05 00:00:00'), Timestamp('2022-12-01 00:00:00'), Timestamp('2022-03-15 00:00:00'), Timestamp('2023-03-21 00:00:00'), Timestamp('2022-12-08 00:00:00'), Timestamp('2023-05-04 00:00:00'), Timestamp('2023-05-08 00:00:00'), Timestamp('2023-07-30 00:00:00'), Timestamp('2022-05-02 00:00:00'), Timestamp('2023-02-21 00:00:00'), Timestamp('2022-08-29 00:00:00'), Timestamp('2023-03-20 00:00:00'), Timestamp('2026-01-04 00:00:00'), Timestamp('2023-03-22 00:00:00')]

In [375]:
df.shape

(77070, 27)

# check creation time

In [376]:
# print("License Creation Datee: ", df['License Creation Date'].unique().tolist(), "\n")

# cleaning inactive data

In [377]:
print("License Status: ", df['License Status'].unique().tolist(), "\n")

License Status:  ['Active', 'Inactive']

In [378]:
df = df.loc[df['License Status'] != 'Inactive']
print("License Status: ", df['License Status'].unique().tolist(), "\n")

License Status:  ['Active']

In [379]:
df.shape

(45240, 27)

In [380]:
df

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
1,2103411-DCA,Individual,2024-03-31,Active,01/11/2022,Sightseeing Guide,"Nieciak, Joseph",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2060087-DCA,Individual,2024-03-31,Active,10/31/2017,Sightseeing Guide,"Arcaro, Tyler",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2078026-DCA,Individual,2024-03-31,Active,09/11/2018,Sightseeing Guide,"HESSE, DAPHNEE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0867157-DCA,Individual,2024-03-31,Active,05/23/2000,Sightseeing Guide,"RACOND, BRUCE I",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2107503-DCA,Individual,2023-07-31,Active,07/15/2022,Ticket Seller,"ABUBAKAR, ALI",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280676,0873074-DCA,Individual,2025-05-31,Active,03/19/2013,Locksmith,"HERNANDEZ, ELVIS",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280677,2108187-DCA,Business,2025-02-28,Active,08/16/2022,Home Improvement Contractor,HOME SOLUTIONS AND PAINTING CORP,NaN,1418,CROES AVE,...,209.0,18.0,2028105,2038930014,NaN,NaN,NaN,-73.871939,40.835076,"(40.835076264813395, -73.87193864541088)"
280678,2103708-DCA,Business,2025-02-28,Active,01/31/2022,Home Improvement Contractor,GARONE RESTORATION CORP.,NaN,6248,82ND ST,...,405.0,30.0,4068376,4029680030,NaN,NaN,NaN,-73.875185,40.722776,"(40.72277611192303, -73.87518489610751)"
280679,1340433-DCA,Business,2024-12-31,Active,12/08/2009,Electronics Store,T-MOBILE NORTHEAST LLC,T-Mobile 4110,21545,NORTHERN BLVD,...,NaN,NaN,4138487,4063090023,NaN,NaN,NaN,-73.766298,40.760707,"(40.76070660640067, -73.76629800054796)"
280681,0997209-DCA,Individual,2025-05-31,Active,07/18/2003,Locksmith,"GALLINO, RICHARD R",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [381]:
# check the area is in NYC

In [382]:
df = df[['Industry', 'Address State', 'Address Borough', 'Longitude', 'Latitude', 'License Expiration Date', 'License Creation Date', 'Address ZIP']]

In [383]:
df

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
1,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,01/11/2022,11214
2,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,10/31/2017,10028
3,Sightseeing Guide,British Columbia,NaN,NaN,NaN,2024-03-31,09/11/2018,V6Z1C
7,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,05/23/2000,10023
9,Ticket Seller,NY,NaN,NaN,NaN,2023-07-31,07/15/2022,10454
...,...,...,...,...,...,...,...,...
280676,Locksmith,NY,NaN,NaN,NaN,2025-05-31,03/19/2013,11693
280677,Home Improvement Contractor,NY,Bronx,-73.871939,40.835076,2025-02-28,08/16/2022,10472
280678,Home Improvement Contractor,NY,Queens,-73.875185,40.722776,2025-02-28,01/31/2022,11379
280679,Electronics Store,NY,Queens,-73.766298,40.760707,2024-12-31,12/08/2009,11361
280681,Locksmith,NY,NaN,NaN,NaN,2025-05-31,07/18/2003,11105

# cleaning the rows which  Borough are out of New York city,  state are out of New York, and without longitude and latitude

# drop the rows of Borough are out of New York.

In [384]:
# check the rows of Borough are out of New York
borough_out_ny = df[df['Address Borough'] == "Outside NYC"]
borough_out_ny

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
96,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,07/19/2019,11003
222,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,11/21/2014,10566
223,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,04/17/2012,13820
289,Ticket Seller Business,NY,Outside NYC,NaN,NaN,2024-07-31,03/24/2023,10550
354,Laundries,NJ,Outside NYC,NaN,NaN,2023-12-31,07/30/2018,7601
...,...,...,...,...,...,...,...,...
280650,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,03/21/2023,10901
280657,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,03/13/2023,10710
280664,Dealer In Products,NY,Outside NYC,NaN,NaN,2025-03-15,09/04/2020,11726
280671,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,09/21/2017,11550
280674,Home Improvement Contractor,NY,Outside NYC,NaN,NaN,2025-02-28,04/27/2021,11729

In [385]:
# drop the rows of Borough are out of New York.
df = df.drop(borough_out_ny.index)
df.shape

(40604, 8)

# drop the rows of state are out of New York.

In [386]:
# check the rows of state are out of New York
state_out_ny = df[df['Address State'] != "NY"]
state_out_ny

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
3,Sightseeing Guide,British Columbia,NaN,NaN,NaN,2024-03-31,09/11/2018,V6Z1C
29,Locksmith,NJ,NaN,NaN,NaN,2025-05-31,12/06/2005,7981
123,Tow Truck Driver,NJ,NaN,NaN,NaN,2024-10-31,07/19/2022,7735
153,Sightseeing Guide,Vienna,NaN,NaN,NaN,2024-03-31,06/02/2009,1050
159,Sightseeing Guide,NJ,NaN,NaN,NaN,2024-03-31,07/19/2022,7086
...,...,...,...,...,...,...,...,...
280493,Locksmith,VT,NaN,NaN,NaN,2025-05-31,05/23/1997,5765
280539,Locksmith,NJ,NaN,NaN,NaN,2025-05-31,11/18/1997,8859
280577,Locksmith,NJ,NaN,NaN,NaN,2025-05-31,12/13/2006,8759
280592,Locksmith,NJ,NaN,NaN,NaN,2025-05-31,05/15/2003,8757
280663,Locksmith,PA,NaN,NaN,NaN,2025-05-31,08/24/2012,18015

In [387]:
# drop the rows of state are out of New York.
df = df.drop(state_out_ny.index)
df.shape

(39311, 8)

In [388]:
df

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
1,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,01/11/2022,11214
2,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,10/31/2017,10028
7,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,05/23/2000,10023
9,Ticket Seller,NY,NaN,NaN,NaN,2023-07-31,07/15/2022,10454
12,Ticket Seller,NY,NaN,NaN,NaN,2023-07-31,05/14/2019,10304
...,...,...,...,...,...,...,...,...
280676,Locksmith,NY,NaN,NaN,NaN,2025-05-31,03/19/2013,11693
280677,Home Improvement Contractor,NY,Bronx,-73.871939,40.835076,2025-02-28,08/16/2022,10472
280678,Home Improvement Contractor,NY,Queens,-73.875185,40.722776,2025-02-28,01/31/2022,11379
280679,Electronics Store,NY,Queens,-73.766298,40.760707,2024-12-31,12/08/2009,11361
280681,Locksmith,NY,NaN,NaN,NaN,2025-05-31,07/18/2003,11105

# drop the rows which zip code are out of NYC

In [389]:
df.dtypes

Industry                           object
Address State                      object
Address Borough                    object
Longitude                         float64
Latitude                          float64
License Expiration Date    datetime64[ns]
License Creation Date              object
Address ZIP                        object
dtype: object

In [390]:
# Convert the data type to int
df['Address ZIP'] = df['Address ZIP'].astype(int)

In [391]:
# check the rows of zip code are out of New York
zip_out_ny = df[(df['Address ZIP'] < 10001) | (df['Address ZIP'] > 11697)]

zip_out_ny

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
215,General Vendor,NY,NaN,NaN,NaN,2023-09-30,09/21/2006,14615
405,Locksmith,NY,NaN,NaN,NaN,2025-05-31,06/27/2014,11753
431,Process Server Individual,NY,NaN,NaN,NaN,2024-02-28,11/13/2020,11701
629,Process Server Individual,NY,NaN,NaN,NaN,2024-02-28,09/20/2017,11767
1117,Locksmith,NY,NaN,NaN,NaN,2025-05-31,06/01/2012,11726
...,...,...,...,...,...,...,...,...
280227,Locksmith,NY,NaN,NaN,NaN,2025-05-31,06/18/2007,11779
280342,Locksmith,NY,NaN,NaN,NaN,2025-05-31,08/11/2021,11803
280435,Locksmith,NY,NaN,NaN,NaN,2025-05-31,05/30/2003,11735
280436,Locksmith,NY,NaN,NaN,NaN,2025-05-31,04/15/2003,11733
280614,Locksmith,NY,NaN,NaN,NaN,2025-05-31,05/28/2003,11710

In [392]:
# drop the rows of zip code are out of New York.
df = df.drop(zip_out_ny.index)
df.shape

(38825, 8)

# use zip code to match the rows without Longitude and Latitude.

In [393]:
# check the rows without Longitude and Latitude.

without_long_lat = df[df['Longitude'].isnull() | df['Latitude'].isnull()]

without_long_lat

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
1,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,01/11/2022,11214
2,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,10/31/2017,10028
7,Sightseeing Guide,NY,NaN,NaN,NaN,2024-03-31,05/23/2000,10023
9,Ticket Seller,NY,NaN,NaN,NaN,2023-07-31,07/15/2022,10454
12,Ticket Seller,NY,NaN,NaN,NaN,2023-07-31,05/14/2019,10304
...,...,...,...,...,...,...,...,...
280662,Locksmith,NY,NaN,NaN,NaN,2025-05-31,05/06/2003,11362
280670,Process Server Individual,NY,NaN,NaN,NaN,2024-02-28,03/21/2023,11691
280675,Locksmith,NY,NaN,NaN,NaN,2025-05-31,05/30/2003,11211
280676,Locksmith,NY,NaN,NaN,NaN,2025-05-31,03/19/2013,11693
280681,Locksmith,NY,NaN,NaN,NaN,2025-05-31,07/18/2003,11105

In [395]:
df.shape

(38825, 8)

# don't run the code below, the function run whole night because the package server rate limits, i have already save output csv, called add_long_lat.csv. we will read and load this csv soon.

In [252]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")


def geolocate(zip):
    location = geolocator.geocode(zip)
    return location.latitude, location.longitude

without_long_lat = df[df['Latitude'].isna() & df['Longitude'].isna()].index

df.loc[without_long_lat, 'Latitude'] = df.loc[without_long_lat, 'Address ZIP'].apply(lambda x: geolocate(x)[0])
df.loc[without_long_lat, 'Longitude'] = df.loc[without_long_lat, 'Address ZIP'].apply(lambda x: geolocate(x)[1])

In [253]:
df

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
1,Sightseeing Guide,NY,NaN,-73.996614,40.602054,2024-03-31,01/11/2022,11214
2,Sightseeing Guide,NY,NaN,-73.953741,40.776551,2024-03-31,10/31/2017,10028
7,Sightseeing Guide,NY,NaN,-73.981113,40.776917,2024-03-31,05/23/2000,10023
9,Ticket Seller,NY,NaN,-73.918217,40.807720,2023-07-31,07/15/2022,10454
12,Ticket Seller,NY,NaN,-74.088153,40.609754,2023-07-31,05/14/2019,10304
...,...,...,...,...,...,...,...,...
280676,Locksmith,NY,NaN,-73.817992,40.598996,2025-05-31,03/19/2013,11693
280677,Home Improvement Contractor,NY,Bronx,-73.871939,40.835076,2025-02-28,08/16/2022,10472
280678,Home Improvement Contractor,NY,Queens,-73.875185,40.722776,2025-02-28,01/31/2022,11379
280679,Electronics Store,NY,Queens,-73.766298,40.760707,2024-12-31,12/08/2009,11361
280681,Locksmith,NY,NaN,-73.909457,18.436248,2025-05-31,07/18/2003,11105

In [359]:
# df.to_csv("add_long_lat.csv", index=False)

# run at here!!!!

In [396]:
# Reading from a csv file, into a data frame
df = pd.read_csv('basic_add_long_lat.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [397]:
df

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
0,Sightseeing Guide,NY,NaN,-73.996614,40.602054,2024-03-31,01/11/2022,11214
1,Sightseeing Guide,NY,NaN,-73.953741,40.776551,2024-03-31,10/31/2017,10028
2,Sightseeing Guide,NY,NaN,-73.981113,40.776917,2024-03-31,05/23/2000,10023
3,Ticket Seller,NY,NaN,-73.918217,40.807720,2023-07-31,07/15/2022,10454
4,Ticket Seller,NY,NaN,-74.088153,40.609754,2023-07-31,05/14/2019,10304
...,...,...,...,...,...,...,...,...
38820,Locksmith,NY,NaN,-73.817992,40.598996,2025-05-31,03/19/2013,11693
38821,Home Improvement Contractor,NY,Bronx,-73.871939,40.835076,2025-02-28,08/16/2022,10472
38822,Home Improvement Contractor,NY,Queens,-73.875185,40.722776,2025-02-28,01/31/2022,11379
38823,Electronics Store,NY,Queens,-73.766298,40.760707,2024-12-31,12/08/2009,11361
38824,Locksmith,NY,NaN,-73.909457,18.436248,2025-05-31,07/18/2003,11105

In [398]:
# check the data type
df.dtypes

Industry                    object
Address State               object
Address Borough             object
Longitude                  float64
Latitude                   float64
License Expiration Date     object
License Creation Date       object
Address ZIP                  int64
dtype: object

In [399]:
# check null value
df.isnull().sum()

Industry                      0
Address State                 0
Address Borough            8991
Longitude                     0
Latitude                      0
License Expiration Date       4
License Creation Date         0
Address ZIP                   0
dtype: int64

In [400]:
df = df.dropna(subset=['License Expiration Date'])

In [401]:
df

,Industry,Address State,Address Borough,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
0,Sightseeing Guide,NY,NaN,-73.996614,40.602054,2024-03-31,01/11/2022,11214
1,Sightseeing Guide,NY,NaN,-73.953741,40.776551,2024-03-31,10/31/2017,10028
2,Sightseeing Guide,NY,NaN,-73.981113,40.776917,2024-03-31,05/23/2000,10023
3,Ticket Seller,NY,NaN,-73.918217,40.807720,2023-07-31,07/15/2022,10454
4,Ticket Seller,NY,NaN,-74.088153,40.609754,2023-07-31,05/14/2019,10304
...,...,...,...,...,...,...,...,...
38820,Locksmith,NY,NaN,-73.817992,40.598996,2025-05-31,03/19/2013,11693
38821,Home Improvement Contractor,NY,Bronx,-73.871939,40.835076,2025-02-28,08/16/2022,10472
38822,Home Improvement Contractor,NY,Queens,-73.875185,40.722776,2025-02-28,01/31/2022,11379
38823,Electronics Store,NY,Queens,-73.766298,40.760707,2024-12-31,12/08/2009,11361
38824,Locksmith,NY,NaN,-73.909457,18.436248,2025-05-31,07/18/2003,11105

In [402]:
# check null value
df.isnull().sum()

Industry                      0
Address State                 0
Address Borough            8990
Longitude                     0
Latitude                      0
License Expiration Date       0
License Creation Date         0
Address ZIP                   0
dtype: int64

In [403]:
df['Industry'] = df['Industry'].astype('category')
df['Address State'] = df['Address State'].astype('category')
df['Address Borough'] = df['Address Borough'].astype('category')

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/2719037329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Industry'] = df['Industry'].astype('category')
/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/2719037329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Address State'] = df['Address State'].astype('category')
/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/2719037329.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Address Borough'] = df['Address Borough'].astype('category')

In [404]:
#update all columns of type 'category'
category_columns = df.select_dtypes(['category']).columns
category_columns

Index(['Industry', 'Address State', 'Address Borough'], dtype='object')

In [405]:
# show category date type
new_df_table_categ = df[category_columns].describe().T
new_df_table_categ

                 count unique                          top   freq
Industry         38821     44  Home Improvement Contractor   8939
Address State    38821      1                           NY  38821
Address Borough  29831      7                       Queens   8752

In [406]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Longitude,38821.0,-69.492915,27.035518,-99.262496,-73.980828,-73.928436,-73.862583,126.98922
Latitude,38821.0,40.374275,2.956185,-6.187254,40.651692,40.723613,40.775202,59.83742
Address ZIP,38821.0,10823.526725,555.101925,10001.000000,10306.000000,11204.000000,11239.000000,11697.00000

In [407]:
print("Industry: ", df['Industry'].unique().tolist(), "\n")
print("Address State: ", df['Address State'].unique().tolist(), "\n")
print("Address Borough: ", df['Address Borough'].unique().tolist(), "\n")

Industry:  ['Sightseeing Guide', 'Ticket Seller', 'Locksmith', 'Electronic & Appliance Service', 'General Vendor', 'Secondhand Dealer - General', 'Employment Agency', 'Electronic Cigarette Dealer', 'Pedicab Driver', 'Newsstand', 'Tobacco Retail Dealer', 'Garage', 'Stoop Line Stand', 'Tow Truck Driver', 'Laundries', 'Electronics Store', 'Process Server Individual', 'Tow Truck Company', 'Pawnbroker', 'Home Improvement Contractor', 'Process Serving Agency', 'Horse Drawn Driver', 'Car Wash', 'Scrap Metal Processor', 'Construction Labor Provider', 'Secondhand Dealer - Auto', 'Third Party Food Delivery', 'Garage and Parking Lot', 'Dealer In Products', 'Sidewalk Cafe', 'Horse Drawn Cab Owner', 'Parking Lot', 'Storage Warehouse', 'Bingo Game Operator', 'Games of Chance', 'Commercial Lessor', 'Debt Collection Agency', 'Pedicab Business', 'Scale Dealer Repairer', 'Sightseeing Bus', 'Booting Company', 'Ticket Seller Business', 'Locksmith Apprentice', 'General Vendor Distributor']

Address State:  ['NY']

Address Borough:  [nan, 'Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island', 'MANHATTAN', 'QUEENS']

# keep the useful features: Industry, Longitude and Latitude...

In [408]:
df = df[['Industry', 'Longitude', 'Latitude', 'License Expiration Date', 'License Creation Date', 'Address ZIP']]
df

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP
0,Sightseeing Guide,-73.996614,40.602054,2024-03-31,01/11/2022,11214
1,Sightseeing Guide,-73.953741,40.776551,2024-03-31,10/31/2017,10028
2,Sightseeing Guide,-73.981113,40.776917,2024-03-31,05/23/2000,10023
3,Ticket Seller,-73.918217,40.807720,2023-07-31,07/15/2022,10454
4,Ticket Seller,-74.088153,40.609754,2023-07-31,05/14/2019,10304
...,...,...,...,...,...,...
38820,Locksmith,-73.817992,40.598996,2025-05-31,03/19/2013,11693
38821,Home Improvement Contractor,-73.871939,40.835076,2025-02-28,08/16/2022,10472
38822,Home Improvement Contractor,-73.875185,40.722776,2025-02-28,01/31/2022,11379
38823,Electronics Store,-73.766298,40.760707,2024-12-31,12/08/2009,11361
38824,Locksmith,-73.909457,18.436248,2025-05-31,07/18/2003,11105

In [409]:
# check null value
df.isnull().sum()

Industry                   0
Longitude                  0
Latitude                   0
License Expiration Date    0
License Creation Date      0
Address ZIP                0
dtype: int64

# do the point-in-polygon operation to match longitude and latitude points to specific taxi zones

In [410]:
import geopandas as gpd
from shapely.geometry import Point, Polygon

In [411]:
# change 'Longitude' and 'Latitude' into GeoDataFrame
df['Coordinates'] = list(zip(df.Longitude, df.Latitude))
df['Coordinates'] = df['Coordinates'].apply(Point)

gdf_business = gpd.GeoDataFrame(df, geometry='Coordinates')

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/593872596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Coordinates'] = list(zip(df.Longitude, df.Latitude))
/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/593872596.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Coordinates'] = df['Coordinates'].apply(Point)

In [412]:
gdf_business

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,Coordinates
0,Sightseeing Guide,-73.996614,40.602054,2024-03-31,01/11/2022,11214,POINT (-73.99661 40.60205)
1,Sightseeing Guide,-73.953741,40.776551,2024-03-31,10/31/2017,10028,POINT (-73.95374 40.77655)
2,Sightseeing Guide,-73.981113,40.776917,2024-03-31,05/23/2000,10023,POINT (-73.98111 40.77692)
3,Ticket Seller,-73.918217,40.807720,2023-07-31,07/15/2022,10454,POINT (-73.91822 40.80772)
4,Ticket Seller,-74.088153,40.609754,2023-07-31,05/14/2019,10304,POINT (-74.08815 40.60975)
...,...,...,...,...,...,...,...
38820,Locksmith,-73.817992,40.598996,2025-05-31,03/19/2013,11693,POINT (-73.81799 40.59900)
38821,Home Improvement Contractor,-73.871939,40.835076,2025-02-28,08/16/2022,10472,POINT (-73.87194 40.83508)
38822,Home Improvement Contractor,-73.875185,40.722776,2025-02-28,01/31/2022,11379,POINT (-73.87518 40.72278)
38823,Electronics Store,-73.766298,40.760707,2024-12-31,12/08/2009,11361,POINT (-73.76630 40.76071)
38824,Locksmith,-73.909457,18.436248,2025-05-31,07/18/2003,11105,POINT (-73.90946 18.43625)

In [413]:
# Read the geojson file
taxi_zone = gpd.read_file('NYC Taxi Zones.geojson')
taxi_zone

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
0,0.0007823067885,1,0.116357453189,1,Newark Airport,EWR,"MULTIPOLYGON (((-74.18445 40.69500, -74.18449 ..."
1,0.00486634037837,2,0.43346966679,2,Jamaica Bay,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,0.000314414156821,3,0.0843411059012,3,Allerton/Pelham Gardens,Bronx,"MULTIPOLYGON (((-73.84793 40.87134, -73.84725 ..."
3,0.000111871946192,4,0.0435665270921,4,Alphabet City,Manhattan,"MULTIPOLYGON (((-73.97177 40.72582, -73.97179 ..."
4,0.000497957489363,5,0.0921464898574,5,Arden Heights,Staten Island,"MULTIPOLYGON (((-74.17422 40.56257, -74.17349 ..."
...,...,...,...,...,...,...,...
258,0.000168611097013,256,0.0679149669603,256,Williamsburg (South Side),Brooklyn,"MULTIPOLYGON (((-73.95834 40.71331, -73.95681 ..."
259,0.000394552487366,259,0.126750305191,259,Woodlawn/Wakefield,Bronx,"MULTIPOLYGON (((-73.85107 40.91037, -73.85207 ..."
260,0.000422345326907,260,0.133514154636,260,Woodside,Queens,"MULTIPOLYGON (((-73.90175 40.76078, -73.90147 ..."
261,0.0000343423231652,261,0.0271204563616,261,World Trade Center,Manhattan,"MULTIPOLYGON (((-74.01333 40.70503, -74.01327 ..."
262,0.000122330270966,262,0.0490636231541,262,Yorkville East,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ..."

In [414]:
gdf_taxi_zone = gpd.GeoDataFrame(taxi_zone, geometry='geometry')
gdf_taxi_zone

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
0,0.0007823067885,1,0.116357453189,1,Newark Airport,EWR,"MULTIPOLYGON (((-74.18445 40.69500, -74.18449 ..."
1,0.00486634037837,2,0.43346966679,2,Jamaica Bay,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,0.000314414156821,3,0.0843411059012,3,Allerton/Pelham Gardens,Bronx,"MULTIPOLYGON (((-73.84793 40.87134, -73.84725 ..."
3,0.000111871946192,4,0.0435665270921,4,Alphabet City,Manhattan,"MULTIPOLYGON (((-73.97177 40.72582, -73.97179 ..."
4,0.000497957489363,5,0.0921464898574,5,Arden Heights,Staten Island,"MULTIPOLYGON (((-74.17422 40.56257, -74.17349 ..."
...,...,...,...,...,...,...,...
258,0.000168611097013,256,0.0679149669603,256,Williamsburg (South Side),Brooklyn,"MULTIPOLYGON (((-73.95834 40.71331, -73.95681 ..."
259,0.000394552487366,259,0.126750305191,259,Woodlawn/Wakefield,Bronx,"MULTIPOLYGON (((-73.85107 40.91037, -73.85207 ..."
260,0.000422345326907,260,0.133514154636,260,Woodside,Queens,"MULTIPOLYGON (((-73.90175 40.76078, -73.90147 ..."
261,0.0000343423231652,261,0.0271204563616,261,World Trade Center,Manhattan,"MULTIPOLYGON (((-74.01333 40.70503, -74.01327 ..."
262,0.000122330270966,262,0.0490636231541,262,Yorkville East,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ..."

In [415]:
# Ensure both GeoDataFrames are using the same CRS
gdf_business = gdf_business.set_crs("EPSG:4326")
gdf_taxi_zone = gdf_taxi_zone.set_crs("EPSG:4326")

# Perform spatial join with the 'predicate' parameter
result = gpd.sjoin(gdf_business, gdf_taxi_zone, how="inner", predicate='intersects')

In [416]:
result

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,Coordinates,index_right,shape_area,objectid,shape_leng,location_id,zone,borough
0,Sightseeing Guide,-73.996614,40.602054,2024-03-31,01/11/2022,11214,POINT (-73.99661 40.60205),18,0.000472062684608,22,0.126170229196,22,Bensonhurst West,Brooklyn
31,General Vendor,-73.996614,40.602054,2023-09-30,07/15/2022,11214,POINT (-73.99661 40.60205),18,0.000472062684608,22,0.126170229196,22,Bensonhurst West,Brooklyn
73,Stoop Line Stand,-73.993377,40.601692,2024-03-31,07/18/2022,11214,POINT (-73.99338 40.60169),18,0.000472062684608,22,0.126170229196,22,Bensonhurst West,Brooklyn
140,Tobacco Retail Dealer,-73.999085,40.618822,2023-12-31,07/22/2020,11228,POINT (-73.99909 40.61882),18,0.000472062684608,22,0.126170229196,22,Bensonhurst West,Brooklyn
202,Stoop Line Stand,-73.993154,40.601555,2024-03-31,07/15/2022,11214,POINT (-73.99315 40.60155),18,0.000472062684608,22,0.126170229196,22,Bensonhurst West,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36608,Garage,-74.014434,40.703221,2025-03-31,03/28/1997,10004,POINT (-74.01443 40.70322),12,0.0000415116236727,12,0.0366613013579,12,Battery Park,Manhattan
30475,Secondhand Dealer - Auto,-73.911641,40.599915,2023-07-31,02/10/2005,11234,POINT (-73.91164 40.59992),153,0.00178968692433,154,0.22733157076,154,Marine Park/Floyd Bennett Field,Brooklyn
31933,Tobacco Retail Dealer,-73.788242,40.648244,2024-12-31,07/14/2011,11430,POINT (-73.78824 40.64824),136,0.00203830095472,132,0.24547851707,132,JFK Airport,Queens
32085,Tobacco Retail Dealer,-73.788242,40.648244,2024-12-31,07/14/2011,11430,POINT (-73.78824 40.64824),136,0.00203830095472,132,0.24547851707,132,JFK Airport,Queens
36312,Garage,-73.844628,40.758072,2025-03-31,04/04/2013,11368,POINT (-73.84463 40.75807),93,0.000594278183978,93,0.170998027597,93,Flushing Meadows-Corona Park,Queens

In [417]:
result = result[['Industry', 'Longitude', 'Latitude', 'License Expiration Date', 'License Creation Date', 'Address ZIP', "location_id", "borough" ]]
result

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
0,Sightseeing Guide,-73.996614,40.602054,2024-03-31,01/11/2022,11214,22,Brooklyn
31,General Vendor,-73.996614,40.602054,2023-09-30,07/15/2022,11214,22,Brooklyn
73,Stoop Line Stand,-73.993377,40.601692,2024-03-31,07/18/2022,11214,22,Brooklyn
140,Tobacco Retail Dealer,-73.999085,40.618822,2023-12-31,07/22/2020,11228,22,Brooklyn
202,Stoop Line Stand,-73.993154,40.601555,2024-03-31,07/15/2022,11214,22,Brooklyn
...,...,...,...,...,...,...,...,...
36608,Garage,-74.014434,40.703221,2025-03-31,03/28/1997,10004,12,Manhattan
30475,Secondhand Dealer - Auto,-73.911641,40.599915,2023-07-31,02/10/2005,11234,154,Brooklyn
31933,Tobacco Retail Dealer,-73.788242,40.648244,2024-12-31,07/14/2011,11430,132,Queens
32085,Tobacco Retail Dealer,-73.788242,40.648244,2024-12-31,07/14/2011,11430,132,Queens
36312,Garage,-73.844628,40.758072,2025-03-31,04/04/2013,11368,93,Queens

In [418]:
# check null value
result.isnull().sum()

Industry                   0
Longitude                  0
Latitude                   0
License Expiration Date    0
License Creation Date      0
Address ZIP                0
location_id                0
borough                    0
dtype: int64

In [419]:
print("Industry: ", result['Industry'].unique().tolist(), "\n")
print("location_id: ", result['location_id'].unique().tolist(), "\n")
print("borough: ", result['borough'].unique().tolist(), "\n")

Industry:  ['Sightseeing Guide', 'General Vendor', 'Stoop Line Stand', 'Tobacco Retail Dealer', 'Electronic & Appliance Service', 'Electronic Cigarette Dealer', 'Pedicab Driver', 'Secondhand Dealer - General', 'Ticket Seller', 'Home Improvement Contractor', 'Process Server Individual', 'Tow Truck Driver', 'Locksmith', 'Electronics Store', 'Secondhand Dealer - Auto', 'Car Wash', 'Dealer In Products', 'Pedicab Business', 'Horse Drawn Driver', 'Tow Truck Company', 'Employment Agency', 'Parking Lot', 'Scrap Metal Processor', 'Newsstand', 'Garage', 'Garage and Parking Lot', 'Pawnbroker', 'Laundries', 'Storage Warehouse', 'Construction Labor Provider', 'Games of Chance', 'Scale Dealer Repairer', 'Process Serving Agency', 'Ticket Seller Business', 'Bingo Game Operator', 'Locksmith Apprentice', 'Third Party Food Delivery', 'Debt Collection Agency', 'Sightseeing Bus', 'Sidewalk Cafe', 'Horse Drawn Cab Owner', 'Booting Company', 'Commercial Lessor', 'General Vendor Distributor']

location_id:  ['22', '263', '142', '168', '115', '130', '144', '79', '242', '3', '20', '169', '112', '71', '230', '87', '92', '17', '159', '29', '100', '141', '41', '167', '126', '76', '119', '116', '129', '86', '174', '127', '227', '164', '7', '210', '209', '44', '236', '225', '239', '67', '48', '218', '212', '26', '244', '14', '147', '63', '262', '108', '95', '42', '117', '193', '37', '75', '91', '197', '78', '82', '260', '243', '181', '32', '259', '188', '47', '231', '49', '6', '68', '109', '89', '161', '135', '223', '187', '133', '228', '143', '94', '198', '176', '107', '81', '145', '80', '173', '235', '185', '13', '73', '85', '156', '183', '148', '160', '172', '106', '152', '201', '36', '250', '39', '149', '83', '10', '54', '50', '226', '208', '33', '196', '206', '219', '191', '257', '70', '216', '74', '252', '155', '45', '124', '18', '11', '51', '118', '40', '61', '215', '121', '175', '258', '56', '77', '245', '19', '249', '214', '114', '186', '255', '131', '163', '254', '162', '221', '65', '170', '16', '98', '246', '166', '146', '140', '35', '134', '180', '261', '122', '247', '69', '157', '151', '248', '21', '137', '205', '256', '28', '211', '217', '52', '213', '97', '101', '72', '165', '237', '9', '102', '233', '171', '234', '229', '23', '88', '25', '220', '253', '200', '90', '203', '24', '60', '136', '179', '38', '113', '189', '241', '251', '178', '53', '123', '177', '43', '238', '64', '182', '55', '139', '222', '62', '34', '192', '158', '84', '15', '30', '224', '99', '4', '150', '204', '58', '195', '202', '232', '5', '27', '153', '46', '190', '66', '125', '138', '240', '128', '184', '12', '154', '132', '93']

borough:  ['Brooklyn', 'Manhattan', 'Bronx', 'Staten Island', 'Queens']

In [421]:
result['Industry'] = result['Industry'].cat.add_categories(['food_and_beverage'])

# do the assignment
conditions = [
    (result['Industry'] == 'Catering Establishment'), 
    (result['Industry'] == 'Sidewalk Cafe'), 
    (result['Industry'] == 'Third Party Food Delivery')
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'food_and_beverage'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/3455375388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['food_and_beverage'])

In [422]:
# check the rows with Food and Beverage type

food_and_beverage = result[result['Industry'] == 'food_and_beverage']

food_and_beverage

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
386,food_and_beverage,-73.959583,40.729699,2023-08-31,04/27/2022,11222,112,Brooklyn
7596,food_and_beverage,-73.828964,40.764799,2023-08-31,02/17/2022,11354,92,Queens
7197,food_and_beverage,-73.944016,40.683915,2022-12-15,07/10/2015,11216,17,Brooklyn
19256,food_and_beverage,-73.990154,40.751641,2025-08-31,01/25/2022,10123,100,Manhattan
633,food_and_beverage,-73.972588,40.785904,2022-12-15,01/03/2020,10024,239,Manhattan
10555,food_and_beverage,-73.992175,40.754946,2025-08-31,04/06/2023,10018,48,Manhattan
17013,food_and_beverage,-73.995399,40.631808,2023-08-31,06/27/2022,11219,26,Brooklyn
721,food_and_beverage,-73.949182,40.789308,2023-08-31,04/27/2022,10029,75,Manhattan
796,food_and_beverage,-73.982647,40.665598,2022-09-15,01/13/2020,11215,181,Brooklyn
804,food_and_beverage,-74.009878,40.721696,2022-12-15,01/03/2020,10013,231,Manhattan
2578,food_and_beverage,-74.010498,40.718216,2022-12-15,03/10/2011,10013,231,Manhattan
16970,food_and_beverage,-74.150135,40.534450,2023-08-31,01/04/2023,10312,109,Staten Island
19365,food_and_beverage,-73.804649,40.755590,2025-08-31,03/25/2022,11358,73,Queens
8359,food_and_beverage,-73.975312,40.654960,2023-08-31,02/15/2022,11218,257,Brooklyn
601,food_and_beverage,-74.003532,40.732242,2022-12-15,12/12/2019,10014,249,Manhattan
9879,food_and_beverage,-73.971124,40.755341,2023-08-31,05/20/2022,10022,162,Manhattan
11810,food_and_beverage,-73.965721,40.805497,2022-09-15,04/29/2013,10025,166,Manhattan
10944,food_and_beverage,-73.989726,40.739279,2023-08-31,06/01/2022,10010,234,Manhattan
11559,food_and_beverage,-73.990589,40.740177,2022-09-15,08/13/2019,10010,234,Manhattan
21921,food_and_beverage,-73.991823,40.741609,2023-08-31,04/14/2022,10010,234,Manhattan
2361,food_and_beverage,-74.009691,40.703608,2023-08-31,01/26/2022,10041,88,Manhattan
2532,food_and_beverage,-73.961537,40.801082,2022-09-15,03/18/2019,10025,24,Manhattan
6447,food_and_beverage,-73.915254,40.675775,2023-08-31,04/25/2023,11233,177,Brooklyn
2462,food_and_beverage,-73.971334,40.787652,2022-09-15,08/03/2017,10024,238,Manhattan

In [423]:
result['Industry'] = result['Industry'].cat.add_categories(['entertainment_and_recreation'])

# do the assignment
conditions = [
    (result['Industry'] == 'Gaming Cafe'), 
    (result['Industry'] == 'Amusement Arcade'), 
    (result['Industry'] == 'Cabaret'),
    (result['Industry'] == 'Bingo Game Operator'),
    (result['Industry'] == 'Amusement Device Permanent'),
    (result['Industry'] == 'Amusement Device Portable'),
    (result['Industry'] == 'Amusement Device Temporary'),
    (result['Industry'] == 'Games of Chance'),
    (result['Industry'] == 'Sightseeing Bus'),
    (result['Industry'] == 'Sightseeing Guide'),
    (result['Industry'] == 'Pool or Billiard Room'),
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'entertainment_and_recreation'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/569252661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['entertainment_and_recreation'])

In [424]:
# check the rows with entertainment_and_recreation type

entertainment_and_recreation = result[result['Industry'] == 'entertainment_and_recreation']

entertainment_and_recreation

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
0,entertainment_and_recreation,-73.996614,40.602054,2024-03-31,01/11/2022,11214,22,Brooklyn
1920,entertainment_and_recreation,-73.985921,40.618792,2024-03-31,04/12/2011,11204,22,Brooklyn
1978,entertainment_and_recreation,-73.996614,40.602054,2024-03-31,11/29/2019,11214,22,Brooklyn
2181,entertainment_and_recreation,-73.985921,40.618792,2024-03-31,10/16/2013,11204,22,Brooklyn
3324,entertainment_and_recreation,-73.996624,40.602054,2024-03-31,09/03/2014,11214,22,Brooklyn
...,...,...,...,...,...,...,...,...
21337,entertainment_and_recreation,-73.949929,40.762033,2024-03-31,08/30/2021,10044,202,Manhattan
31737,entertainment_and_recreation,-73.949929,40.761928,2024-03-31,11/16/2022,10044,202,Manhattan
15481,entertainment_and_recreation,-73.914911,40.559734,2024-03-31,06/13/2022,11697,27,Queens
20864,entertainment_and_recreation,-73.787644,40.848603,2024-03-31,09/19/2008,10464,46,Bronx
37772,entertainment_and_recreation,-73.790144,40.853546,2023-12-31,12/05/2003,10464,46,Bronx

In [425]:
result['Industry'] = result['Industry'].cat.add_categories(['parking_and_automotive_services'])

# do the assignment
conditions = [
    (result['Industry'] == 'Car Wash'), 
    (result['Industry'] == 'Booting Company'), 
    (result['Industry'] == 'Garage'),
    (result['Industry'] == 'Garage and Parking Lot'),
    (result['Industry'] == 'Parking Lot'),
    (result['Industry'] == 'Secondhand Dealer - Auto'),
    (result['Industry'] == 'Tow Truck Company'),
    (result['Industry'] == 'Tow Truck Exemption'),
    (result['Industry'] == 'Tow Truck Driver')
    
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'parking_and_automotive_services'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/3927816503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['parking_and_automotive_services'])

In [426]:
# check the rows with parking_and_automotive_services type

parking_and_automotive_services = result[result['Industry'] == 'parking_and_automotive_services']

parking_and_automotive_services

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
2415,parking_and_automotive_services,-73.996614,40.602054,2024-10-31,03/27/2017,11214,22,Brooklyn
2433,parking_and_automotive_services,-73.996614,40.602054,2024-10-31,08/13/1998,11214,22,Brooklyn
3373,parking_and_automotive_services,-73.985924,40.618792,2024-10-31,05/27/2009,11204,22,Brooklyn
3561,parking_and_automotive_services,-73.996624,40.602054,2024-10-31,01/31/1997,11214,22,Brooklyn
4948,parking_and_automotive_services,-73.996624,40.602062,2024-10-31,01/04/1996,11214,22,Brooklyn
...,...,...,...,...,...,...,...,...
28810,parking_and_automotive_services,-73.912668,40.872385,2025-03-31,04/19/2000,10034,128,Manhattan
28983,parking_and_automotive_services,-73.802841,40.865160,2025-03-31,04/29/2008,10464,184,Bronx
36608,parking_and_automotive_services,-74.014434,40.703221,2025-03-31,03/28/1997,10004,12,Manhattan
30475,parking_and_automotive_services,-73.911641,40.599915,2023-07-31,02/10/2005,11234,154,Brooklyn
36312,parking_and_automotive_services,-73.844628,40.758072,2025-03-31,04/04/2013,11368,93,Queens

In [427]:
result['Industry'] = result['Industry'].cat.add_categories(['professional_services'])

# do the assignment
conditions = [
    (result['Industry'] == 'Employment Agency'), 
    (result['Industry'] == 'Electronic & Appliance Service'), 
    (result['Industry'] == 'General Vendor Distributor'),
    (result['Industry'] == 'Process Serving Agency'),
    (result['Industry'] == 'Scale Dealer Repairer'),
    (result['Industry'] == 'Scrap Metal Processor'),
    (result['Industry'] == 'General Vendor'),
    (result['Industry'] == 'Process Server Individual')
    
    
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'professional_services'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/1293513468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['professional_services'])

In [428]:
# check the rows with professional_services type

professional_services = result[result['Industry'] == 'professional_services']

professional_services

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
31,professional_services,-73.996614,40.602054,2023-09-30,07/15/2022,11214,22,Brooklyn
277,professional_services,-74.003382,40.606545,2024-06-30,10/12/2012,11214,22,Brooklyn
1107,professional_services,-73.985921,40.618792,2023-09-30,08/16/2013,11204,22,Brooklyn
1285,professional_services,-73.995106,40.602699,2024-06-30,11/05/2021,11214,22,Brooklyn
1387,professional_services,-73.985921,40.618792,2024-02-28,02/24/2012,11204,22,Brooklyn
...,...,...,...,...,...,...,...,...
15202,professional_services,-73.986681,40.702762,2024-02-28,03/20/2019,11201,66,Brooklyn
19906,professional_services,-73.987370,40.702455,2024-06-30,11/24/2021,11201,66,Brooklyn
9289,professional_services,-74.005517,40.727392,2024-05-01,05/27/2004,10010,125,Manhattan
12395,professional_services,-74.009240,40.725209,2024-05-01,07/10/2012,10013,125,Manhattan
18341,professional_services,-74.004957,40.723247,2024-02-28,02/10/2004,10013,125,Manhattan

In [429]:
result['Industry'] = result['Industry'].cat.add_categories(['retail_services'])

# do the assignment
conditions = [
    (result['Industry'] == 'Laundry'), 
    (result['Industry'] == 'Laundries'), 
    (result['Industry'] == 'Laundry Jobber'),
    (result['Industry'] == 'General Vendor Distributor'),
    (result['Industry'] == 'Newsstand'),
    (result['Industry'] == 'Electronics Store'),
    (result['Industry'] == 'Electronic Cigarette Dealer'),
    (result['Industry'] == 'Dealer In Products'),
    (result['Industry'] == 'Secondhand Dealer - Firearms'),
    (result['Industry'] == 'Secondhand Dealer - General'),
    (result['Industry'] == 'Tobacco Retail Dealer'),
    (result['Industry'] == 'Ticket Seller Business'),
    (result['Industry'] == 'Stoop Line Stand'),
    (result['Industry'] == 'Special Sale'),
    (result['Industry'] == 'Ticket Seller')
    
    
    
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'retail_services'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/1714209455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['retail_services'])

In [430]:
# check the rows with retail_services type

retail_services = result[result['Industry'] == 'retail_services']

retail_services

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
73,retail_services,-73.993377,40.601692,2024-03-31,07/18/2022,11214,22,Brooklyn
140,retail_services,-73.999085,40.618822,2023-12-31,07/22/2020,11228,22,Brooklyn
202,retail_services,-73.993154,40.601555,2024-03-31,07/15/2022,11214,22,Brooklyn
291,retail_services,-73.991571,40.617751,2023-11-30,06/16/2018,11204,22,Brooklyn
332,retail_services,-73.990898,40.618410,2023-11-30,06/19/2018,11204,22,Brooklyn
...,...,...,...,...,...,...,...,...
31061,retail_services,-73.880000,40.773995,2024-12-31,02/28/2019,11371,138,Queens
31156,retail_services,-73.880000,40.773995,2024-12-31,10/28/2019,11371,138,Queens
33155,retail_services,-73.880000,40.773995,2024-12-31,10/05/2021,11371,138,Queens
31933,retail_services,-73.788242,40.648244,2024-12-31,07/14/2011,11430,132,Queens
32085,retail_services,-73.788242,40.648244,2024-12-31,07/14/2011,11430,132,Queens

In [431]:
 
result['Industry'] = result['Industry'].cat.add_categories(['financial_services'])

# do the assignment
conditions = [
    (result['Industry'] == 'Debt Collection Agency'), 
    (result['Industry'] == 'Pawnbroker')
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'financial_services'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/2741862819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['financial_services'])

In [432]:
# check the rows with financial_services type

financial_services = result[result['Industry'] == 'financial_services']

financial_services

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
17266,financial_services,-73.982229,40.774123,2024-04-30,05/11/2022,10023,142,Manhattan
9967,financial_services,-73.916409,40.815536,2024-04-30,09/02/2008,10455,168,Bronx
19162,financial_services,-73.922363,40.808895,2024-04-30,05/02/2005,10454,168,Bronx
26050,financial_services,-73.917435,40.806921,2024-04-30,06/29/1998,10454,168,Bronx
3995,financial_services,-73.808159,40.702312,2024-04-30,04/07/1997,11435,130,Queens
...,...,...,...,...,...,...,...,...
22614,financial_services,-74.008291,40.729988,2025-01-31,09/05/2018,10014,158,Manhattan
28681,financial_services,-73.984445,40.718882,2024-04-30,09/23/1997,10002,232,Manhattan
36208,financial_services,-73.985437,40.718388,2024-04-30,09/10/2008,10002,232,Manhattan
36920,financial_services,-73.987331,40.718287,2024-04-30,06/06/2022,10002,232,Manhattan
16693,financial_services,-74.004737,40.725583,2025-01-31,05/30/2023,10013,125,Manhattan

In [433]:
 
result['Industry'] = result['Industry'].cat.add_categories(['real_estate'])

# do the assignment
conditions = [
    (result['Industry'] == 'Construction Labor Provider'), 
    (result['Industry'] == 'Home Improvement Contractor'),
    (result['Industry'] == 'Commercial Lessor'),
    (result['Industry'] == 'Auction House Premises'),
    (result['Industry'] == 'Storage Warehouse'),
    (result['Industry'] == 'Locksmith'),
    (result['Industry'] == 'Locksmith Apprentice')
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'real_estate'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/3479200499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['real_estate'])

In [434]:
# check the rows with real_estate type

real_estate = result[result['Industry'] == 'real_estate']

real_estate

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
1364,real_estate,-73.993927,40.620403,2025-02-28,03/28/2023,11204,22,Brooklyn
1833,real_estate,-73.994965,40.604308,2025-02-28,07/22/2021,11214,22,Brooklyn
2580,real_estate,-73.985924,40.618792,2025-05-31,05/22/2015,11204,22,Brooklyn
2914,real_estate,-73.996624,40.602054,2025-05-31,12/14/2009,11214,22,Brooklyn
3297,real_estate,-73.990664,40.616632,2025-02-28,02/15/2017,11204,22,Brooklyn
...,...,...,...,...,...,...,...,...
38311,real_estate,-74.005617,40.726615,2025-02-28,01/09/2006,10011,125,Manhattan
17899,real_estate,-73.888945,40.770329,2025-02-28,06/21/2011,11370,138,Queens
20191,real_estate,-73.868628,40.879034,2025-02-28,06/10/2004,10467,240,Bronx
25833,real_estate,-73.825216,40.845966,2025-02-28,10/11/2022,10465,184,Bronx
30417,real_estate,-74.014246,40.702798,2025-02-28,09/13/2017,10004,12,Manhattan

In [435]:
 
result['Industry'] = result['Industry'].cat.add_categories(['transportation'])

# do the assignment
conditions = [
    (result['Industry'] == 'Horse Drawn Cab Owner'), 
    (result['Industry'] == 'Pedicab Business'),
    (result['Industry'] == 'Pedicab Driver'),
    (result['Industry'] == 'Horse Drawn Driver')
    
    
]

result.loc[np.any(conditions, axis=0), 'Industry'] = 'transportation'

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/2157668747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].cat.add_categories(['transportation'])

In [436]:
# check the rows with transportation type

transportation = result[result['Industry'] == 'transportation']

transportation

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
731,transportation,-73.996614,40.602054,2024-04-30,08/18/2022,11214,22,Brooklyn
2660,transportation,-73.996624,40.602054,2024-04-30,03/28/2023,11214,22,Brooklyn
4065,transportation,-73.996624,40.602062,2024-04-30,06/30/2022,11214,22,Brooklyn
4432,transportation,-73.996624,40.602062,2024-04-30,03/24/2023,11214,22,Brooklyn
4643,transportation,-73.985924,40.618789,2024-04-30,03/29/2023,11204,22,Brooklyn
...,...,...,...,...,...,...,...,...
26905,transportation,-73.749655,40.673146,2024-04-30,07/21/2016,11413,139,Queens
3030,transportation,-74.178514,40.546477,2024-05-31,04/30/2007,10312,84,Staten Island
15153,transportation,-74.178514,40.546495,2024-05-31,12/02/1997,10312,84,Staten Island
15771,transportation,-74.168262,40.528334,2024-03-31,04/09/2018,10312,84,Staten Island
16869,transportation,-74.178514,40.546495,2024-05-31,04/24/2015,10312,84,Staten Island

In [437]:
print("Industry: ", result['Industry'].unique().tolist(), "\n")
print("location_id: ", result['location_id'].unique().tolist(), "\n")
print("borough: ", result['borough'].unique().tolist(), "\n")

Industry:  ['entertainment_and_recreation', 'professional_services', 'retail_services', 'transportation', 'real_estate', 'parking_and_automotive_services', 'financial_services', 'food_and_beverage']

location_id:  ['22', '263', '142', '168', '115', '130', '144', '79', '242', '3', '20', '169', '112', '71', '230', '87', '92', '17', '159', '29', '100', '141', '41', '167', '126', '76', '119', '116', '129', '86', '174', '127', '227', '164', '7', '210', '209', '44', '236', '225', '239', '67', '48', '218', '212', '26', '244', '14', '147', '63', '262', '108', '95', '42', '117', '193', '37', '75', '91', '197', '78', '82', '260', '243', '181', '32', '259', '188', '47', '231', '49', '6', '68', '109', '89', '161', '135', '223', '187', '133', '228', '143', '94', '198', '176', '107', '81', '145', '80', '173', '235', '185', '13', '73', '85', '156', '183', '148', '160', '172', '106', '152', '201', '36', '250', '39', '149', '83', '10', '54', '50', '226', '208', '33', '196', '206', '219', '191', '257', '70', '216', '74', '252', '155', '45', '124', '18', '11', '51', '118', '40', '61', '215', '121', '175', '258', '56', '77', '245', '19', '249', '214', '114', '186', '255', '131', '163', '254', '162', '221', '65', '170', '16', '98', '246', '166', '146', '140', '35', '134', '180', '261', '122', '247', '69', '157', '151', '248', '21', '137', '205', '256', '28', '211', '217', '52', '213', '97', '101', '72', '165', '237', '9', '102', '233', '171', '234', '229', '23', '88', '25', '220', '253', '200', '90', '203', '24', '60', '136', '179', '38', '113', '189', '241', '251', '178', '53', '123', '177', '43', '238', '64', '182', '55', '139', '222', '62', '34', '192', '158', '84', '15', '30', '224', '99', '4', '150', '204', '58', '195', '202', '232', '5', '27', '153', '46', '190', '66', '125', '138', '240', '128', '184', '12', '154', '132', '93']

borough:  ['Brooklyn', 'Manhattan', 'Bronx', 'Staten Island', 'Queens']

In [438]:
result

,Industry,Longitude,Latitude,License Expiration Date,License Creation Date,Address ZIP,location_id,borough
0,entertainment_and_recreation,-73.996614,40.602054,2024-03-31,01/11/2022,11214,22,Brooklyn
31,professional_services,-73.996614,40.602054,2023-09-30,07/15/2022,11214,22,Brooklyn
73,retail_services,-73.993377,40.601692,2024-03-31,07/18/2022,11214,22,Brooklyn
140,retail_services,-73.999085,40.618822,2023-12-31,07/22/2020,11228,22,Brooklyn
202,retail_services,-73.993154,40.601555,2024-03-31,07/15/2022,11214,22,Brooklyn
...,...,...,...,...,...,...,...,...
36608,parking_and_automotive_services,-74.014434,40.703221,2025-03-31,03/28/1997,10004,12,Manhattan
30475,parking_and_automotive_services,-73.911641,40.599915,2023-07-31,02/10/2005,11234,154,Brooklyn
31933,retail_services,-73.788242,40.648244,2024-12-31,07/14/2011,11430,132,Queens
32085,retail_services,-73.788242,40.648244,2024-12-31,07/14/2011,11430,132,Queens
36312,parking_and_automotive_services,-73.844628,40.758072,2025-03-31,04/04/2013,11368,93,Queens

# the code below used for model

In [439]:
result = result[['Industry', 'location_id']]
result

                              Industry location_id
0         entertainment_and_recreation          22
31               professional_services          22
73                     retail_services          22
140                    retail_services          22
202                    retail_services          22
...                                ...         ...
36608  parking_and_automotive_services          12
30475  parking_and_automotive_services         154
31933                  retail_services         132
32085                  retail_services         132
36312  parking_and_automotive_services          93

[36913 rows x 2 columns]

In [440]:
result['Industry'] = result['Industry'].astype(str)
result['location_id'] = result['location_id'].astype(str)

/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/3569036147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Industry'] = result['Industry'].astype(str)
/var/folders/_0/5bnj4ngn31zbtd47dr9w8dfc0000gn/T/ipykernel_45061/3569036147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['location_id'] = result['location_id'].astype(str)

In [441]:
df_combined = result.groupby(['location_id', 'Industry']).size().reset_index(name='Counts')

df_combined

     location_id                         Industry  Counts
0             10               financial_services       1
1             10  parking_and_automotive_services      13
2             10            professional_services       4
3             10                      real_estate      58
4             10                  retail_services      29
...          ...                              ...     ...
1363          98                  retail_services      31
1364          98                   transportation       5
1365          99  parking_and_automotive_services       1
1366          99                      real_estate       2
1367          99                  retail_services       6

[1368 rows x 3 columns]

In [442]:
# check the outcome is correct
total_count = df_combined['Counts'].sum()
total_count

36913

In [443]:
df_combined.columns = df_combined.columns.str.replace('location_id', 'taxi_zone')
df_combined.columns = df_combined.columns.str.replace('Industry', 'business_type')

In [444]:
print("Industry: ", df_combined['business_type'].unique().tolist(), "\n")
print("location_id: ", df_combined['taxi_zone'].unique().tolist(), "\n")

Industry:  ['financial_services', 'parking_and_automotive_services', 'professional_services', 'real_estate', 'retail_services', 'food_and_beverage', 'entertainment_and_recreation', 'transportation']

location_id:  ['10', '100', '101', '102', '106', '107', '108', '109', '11', '112', '113', '114', '115', '116', '117', '118', '119', '12', '121', '122', '123', '124', '125', '126', '127', '128', '129', '13', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '14', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '15', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '16', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '17', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '18', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '19', '190', '191', '192', '193', '195', '196', '197', '198', '20', '200', '201', '202', '203', '204', '205', '206', '208', '209', '21', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '22', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '23', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '24', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '25', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '26', '260', '261', '262', '263', '27', '28', '29', '3', '30', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '5', '50', '51', '52', '53', '54', '55', '56', '58', '6', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93', '94', '95', '97', '98', '99']

In [445]:
df_combined

     taxi_zone                    business_type  Counts
0           10               financial_services       1
1           10  parking_and_automotive_services      13
2           10            professional_services       4
3           10                      real_estate      58
4           10                  retail_services      29
...        ...                              ...     ...
1363        98                  retail_services      31
1364        98                   transportation       5
1365        99  parking_and_automotive_services       1
1366        99                      real_estate       2
1367        99                  retail_services       6

[1368 rows x 3 columns]

In [446]:
df_combined.to_csv("basic_business_df.csv", index=False)